<form class="top-50 start-50 translate-middle position-absolute row container gap-3" style="max-width: 350px;" method="post" action="/login">
  <select class="form-select" name="user">
    <option value="admin">Admin</option>
    <option value="clerk">Clerk</option>
    <option value="kitchen">Kitchen</option>
  </select>
  <input class="form-control" type="password" placeholder="Password" name="password" required>
  <button type="submit" class="col btn btn-primary">Login</button>
</form>