<div class="d-flex gap-5 w-100 mb-5" style="height: 20rem;">
  <div class="flex-fill rounded-3 border bg-white py-2 px-3">
    <h5 class="mb-3 mt-2">Pending</h5>
  </div>
  <div class="flex-fill rounded-3 border bg-white py-2 px-3">
    <h5 class="mb-3 mt-2">Ongoing</h5>
  </div>
</div>